.nav-bar{
  position: sticky;
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  box-shadow: 0 2px 8px #000000;

}

.nav-bar a {
  text-decoration:none;
  color: #000000;
  font-weight: bold;
}

.nav-bar a:hover {
  text-decoration:none;
  color: #414040;

}

.nav-bar-inside {
  padding: 10px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.nav-bar-items{
  width: 100%;
}

.nav-bar-float{
  float: right;
  margin-top: 7px;
}

.nav-bar-float a{
  margin-left: 22px;
  margin-top: 2px;
  font-size: 18px;
}
